body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.first , .fifth {
    background-color: #1F2937;
}

.heroMain {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.heroSecondary {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.call {
    background-color: #3882F6;
    color: #F9FAF8;
}

.third {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.infoHeader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

footer {
    color: #F9FAF8;
    justify-content: center;
    margin-top: auto;
    text-align: center;
}

.image {
    color: #E5E7EB;
    background-color: gray;
    flex-grow: 1;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroMainer {
    flex-grow: 2;
}

.first {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
}

.first, .second, .third, .fourth, .fifth {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    gap: 30px;
}

.heroUnited {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    gap: 30px;
}

.boxes {
    display: flex;
    gap: 10px;
    text-wrap: wrap;
}

.mini   {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box {
    border: blue solid;
    border-radius: 20px;
    height: 100px;
    width: 100px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allContent {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.allCall {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 70px;
    width: 45%;
    gap: 15px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.fourth {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.third {
    margin-top: 30px;
    height: 140px;
    justify-content: center;
    align-items: center;
}

.call.first, .call.second {
    border-radius: 20px;
    border: #F9FAF8 solid 2px;
    color: #F9FAF8;
    height: 4vh;
    text-align: center;
    justify-content: center;
}

.action {
    font-weight: bold;
}