body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.first , .fifth {
    background-color: #1F2937;
}

.heroMain {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.heroSecondary {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.call {
    background-color: #3882F6;
}

.third {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.infoHeader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

footer {
    color: #F9FAF8;
    justify-content: center;
    margin-top: auto;
    text-align: center;
}

.image {
    color: #E5E7EB;
    background-color: gray;
}

.first {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
}

.first, .second, .third, .fourth, .fifth {
    padding-left: 60px;
    padding-right: 60px;
}

.heroUnited {
    display: flex;
}

.boxes {
    display: flex;
}

.mini   {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box {
    border: blue solid;
    border-radius: 20px;
    height: 100px;
    width: 100px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allContent {
    display: flex;
    flex-direction: column;
    height: 100vh;
}